html{
    font-size: 15px;
}

/* ul, li{
    list-style: none;
} */
.nav_menu {
    display: flex;
    margin-left: 10px;
}

.nav_menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_menu ul li:first-child {
    padding: 19px;
    margin-left: 50px;
    font-size: 17px;
}

.nav_menu li:nth-child(2){
    padding: 19px;
    color: #99CCFF;
    margin-left: 17px;
    margin-right: 60px;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #FCFDFE;
    z-index: 1;
}

.nav_menu a{
    text-decoration: none;
    color: #99CCFF;
}

.nav_menu a:nth-child(1){
    color: #fff;
}

.underline{
    border-bottom: 2px solid #99CCFF;
}


.board_wrap{
    width:1300px;
    margin:100px auto;
}

.talk{
    width: 35px;
    height: 35px;
}   

.board_title{
    margin-bottom: 30px;

}

.board_title strong{
    font-size: 30px;
}

.board_title p{
    margin-top: 15px;
    font-size: 13px;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border:  1px solid #99CCFF;
    border-radius: 2px;
    font-size: 10px;
}

.bt_wrap .on{
    background: #99CCFF;
    color: #fff;
    margin-right: 10px;

}

.board_list{
    width: 100%;
    border-top: 2px solid #99CCFF 

}

.board_list > div{
    border-bottom:1px solid #ddd;
    font-size: 0;
}

.board_list > div.top{
    border-bottom:1px solid #999;
}

.board_list > div:last-child{
    border-bottom:1px solid #999;
}

.board_list > div > div{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
}

.board_list > div.top > div{
    font-weight: 600;
}

.board_list .num{
    width: 10%;
}
.board_list .title{
    width: 35%;
    text-align: center;
}

.board_list .categori{
    width: 25%;
    text-align: center;
}
.board_list .top .title{
    text-align: center;
}
.board_list .writer{
    width: 10%;
}
.board_list .date{
    width: 10%;
}
.board_list .count{
    width: 10%;
}

.board_page {
    margin-top: 40px;
    text-align: center;
    font-size: 0;
}

.board_page a{
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 100%;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt{
    font-size: 11px;
    padding-top: 10px;
    letter-spacing: -1px;
}

.board_page a.num{
    font-size: 13px;
    padding-top: 9px;
}

.board_page a.num.on{
    border-color: #99CCFF;
    background : #99CCFF;
    color:#fff;

}

.board_page a:first-child{
    border-left: 1px solid #ddd;
}