<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/livestock/resources/CSS/board.css">
    <script src="https://kit.fontawesome.com/b32c894376.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <title>농장이야기</title>
</head>
<body>
    <header id="header">
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fa-solid fa-guarani-sign"></i>
                <a th:href="@{/}">FRAM GUARD</a>
            </div>

            <ul class="navbar_menu">
                <li><a th:href="@{/}">HOME</a></li>
                <li><a th:href="@{/farming}">농장관리</a></li>
                <li><a th:href="@{/calander}">캘린더</a></li>
                <li><a th:href="@{/}">차량 출입 관리</a></li>
                <li><a th:href="@{/board}">커뮤니티</a></li>
                <button class = "binLogin-popup" sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></button>
            </ul>
            
            <a href="#" class="navbar_toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
    </header>
    <div class="topbar">
        <div class="nav_menu">
            <ul>
                <li><a href="/livestock/boardnotice">공지사항</a></li>
                <li><a href="/livestock/board">농장이야기</a></li>
            </ul>    
        </div>
    </div>
    
    <div class="board_wrap">
        <div class="board_title">
            <strong>농장이야기</strong><img class="talk" src="/livestock/resources/IMG/speech-bubble.png" alt="">
            <p>서로 농장에 대한 정보를 빠르게 주고 받을 수 있습니다.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class = "num" name = "board_id" >번호</div>
                    <div class = "categori" name = "board_category">카테고리</div>
                    <div class = "title" name = "board_title" >제목</div>
                    <div class = "writer" name = "user_id">작성자</div>
                    <div class = "date" name="board_dt">작성일</div>
                    <div class = "count" name="board_views">조회</div>
                </div>
                <div>
                    <div class = "num" name = "board_id">8</div>
                    <div class = "categori" name = "board_category">소</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
                
                <div>
                    <div class = "num" name = "board_id">7</div>
                    <div class = "categori" name = "board_category">소</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
                <div>
                    <div class = "num" name = "board_id">6</div>
                    <div class = "categori" name = "board_category">돼지</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
                <div>
                    <div class = "num" name = "board_id">5</div>
                    <div class = "categori" name = "board_category">닭</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
                <div>
                    <div class = "num" name = "board_id">4</div>
                    <div class = "categori" name = "board_category">돼지</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
                <div>
                    <div class = "num" name = "board_id">3</div>
                    <div class = "categori" name = "board_category">소</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
                <div>
                    <div class = "num" name = "board_id">2</div>
                    <div class = "categori" name = "board_category">닭</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
                <div>
                    <div class = "num" name = "board_id">1</div>
                    <div class = "categori" name = "board_category">오리</div>
                    <div class = "title" name = "board_title"><a href="/livestock/resources/HTML/boardview.html">글 제목이 들어갑니다.</a></div>
                    <div class = "writer" name = "user_id">김이름</div>
                    <div class = "date"  name="board_dt">2023.06.02</div>
                    <div class = "count" name="board_views">0</div>
                </div>
               
            </div>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="/livestock/boardwrite" class="on">등록</a>
                <!-- <a href="#">수정</a> -->

            </div>
        </div>
    </div>

    
  </div>
</body>
</html>