<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/livestock/resources/CSS/boardview.css">
    <script src="https://kit.fontawesome.com/b32c894376.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <title>글쓰기</title>
</head>
<body>
    <header id="header">
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fa-solid fa-guarani-sign"></i>
                <a th:href="@{/}">FRAM GUARD</a>
            </div>

            <ul class="navbar_menu">
                <li><a th:href="@{/}">HOME</a></li>
                <li><a th:href="@{/farming}">농장관리</a></li>
                <li><a th:href="@{/calander}">캘린더</a></li>
                <li><a th:href="@{/}">차량 출입 관리</a></li>
                <li><a th:href="@{/board}">커뮤니티</a></li>
                <button class = "binLogin-popup" sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></button>
            </ul>
            
            <a href="#" class="navbar_toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
    </header>
    <div class="topbar">
        <div class="nav_menu">
            <ul>
                <li><a th:href="@{/boardnotice}">공지사항</a></li>
                <li><a th:href="@{/board}">농장이야기</a></li>
            </ul>    
        </div>
    </div>
    
    <div class="board_wrap">
        <div class="board_title">
            <strong>농장이야기 </strong><img class="talk" src="/livestock/resources/IMG/speech-bubble.png" alt="">
            <p>서로 농장에 대한 정보를 빠르게 주고 받을 수 있습니다.</p>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title" name="board_title">
                    글제목이들어갑니다
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd th:text="${}"></dd>
                    </dl>
                    <dl>
                        <dt>카테고리</dt>
                        <dd th:text="${}">오리</dd>
                    </dl>
                    <dl>
                        <dt>작성자</dt>
                        <dd th:text="${}">김이름</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd th:text="${}">2023.06.02</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd th:text="${}">0</dd>
                    </dl>
                </div>
                <div class="cont">
                    글내용이들어갑니다<br>
                    글내용이들어갑니다<br>
                    글내용이들어갑니다<br>
                    글내용이들어갑니다<br>
                    글내용이들어갑니다<br>
                    글내용이들어갑니다<br>
                    글내용이들어갑니다
                </div>
            </div>
            <div class="bt_wrap">
                <a th:href="@{/board}" class="on">목록</a>
                <a th:href="@{/boardedit}" th:if="${#authentication.principal == board.user_id}">수정</a>
    
            </div>
            <div id="form-commentInfo">
                <div id="comment-count">댓글 <span id="count">0</span></div>
                <input id="comment-input" placeholder="댓글을 입력해 주세요.">
                <button id="submit">등록</button>
            </div>
            <div id=comments>
        
            </div>
            <script src="/livestock/resources/JS/boardview.js"></script>
        </div>
        
    </div>   
</body>
</html>