<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b32c894376.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/livestock/resources/CSS/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

    <script src="/livestock/resources/JS/jquery-3.6.4.min.js"></script>
    <!-- <script src="/livestock/resources/JS/calander.js"></script> -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Calendar</title>
    <link rel="stylesheet" href="/livestock/resources/CSS/calander.css">

    <script th:inline="javascript">
    
    	


    </script>


</head>
<body>
    <header id="header">
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fa-solid fa-guarani-sign"></i>
                <a th:href="@{/}">FRAM GUARD</a>
            </div>

            <ul class="navbar_menu">
                <li><a th:href="@{/}">HOME</a></li>
                <li><a th:href="@{/livestockinfo}">가축 정보</a></li>
                <li><a class="underline" th:href="@{/calander}">캘린더</a></li>
                <li><a th:href="@{/farming}">차량 출입 관리</a></li>
                <li><a th:href="@{/board}">커뮤니티</a></li>
                <button class = "binLogin-popup" sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></button>
                <button class = "binLogin-popup" sec:authorize="isAuthenticated()"><a th:href="@{/login}">Logout</a></button>
            </ul>
            
            <a href="#" class="navbar_toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
    </header>

    <div class="topbar"></div>

    <div class="calendar-month">

        <div class="flex aic" style="gap: 40px;">
            <button class="form-inf-btn" onclick="Calendar.addMonth(-1)">◀</button>
            <h1 class="cur-date">2023.6</h1>
            <button class="form-inf-btn" onclick="Calendar.addMonth(1)">▶</button>
        </div>
 
        <div class="calendar">
            <div class="calendar-top">일</div>
            <div class="calendar-top">월</div>
            <div class="calendar-top">화</div>
            <div class="calendar-top">수</div>
            <div class="calendar-top">목</div>
            <div class="calendar-top">금</div>
            <div class="calendar-top">토</div>
       </div>    
    </div>

    <div class="modal schedule">
        <div class="modal-bg">

            <div class="modal-form">
                <div class="modal-top flex aifs jcsb"> 
                    <h1 class="modal-title"></h1>
                    <button class="form-inf-btn" onclick="document.querySelector('.modal.schedule').classList.remove('show')" >X</button>
                </div>
                <div class="modal-content">
                    <div class="schedule-list col-flex">
                        <div class="flex aic jcc" style="width: 100%; height: 100px;">
                            일정이 없습니다.
                        </div>
                    </div>
                </div>


                <form th:action="@{/calander.do}" method="post" class="input-data">
                    <table  >
                        <tr>
                          
                            <td colspan="2" height="40">
                                <input type="hidden" id="infected_dt" name="infected_dt" value="dateinput"/>
                            </td>

                        </tr>
                        <tr >
                            <td style="text-align: right;">축종 : </td>
                            <td height="40" style="text-align: left;">

                                
                                <select name="livestock_name">
                                        <option value="cow">소</option>
                                        <option value="pig">돼지</option>
                                        <option value="chicken">닭</option>
                                        <option value="duck">오리</option>

                                </select>
                            </td>
                            
                        </tr>

                        <tr>
                            <td style="text-align: right;">개체 수 : </td>
                            <td height="40" style="text-align: left;">
                                &nbsp; &nbsp; <input type="text" name="infected_cnt" style="width:30px; text-align: center;"> 마리
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right;">일정 선택 : </td>
                            <td height="40" style="text-align: left;">
                                <select onchange="categoryChange(this)">

                                    <option>선택</option>
                                    <option value="vaccine">예방 접종</option>
                                    <option value="infection">감염</option>
                                </select>
                              
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="2">
                                
                                <select id="livestock-select" name="disease_name">
                                    
                                </select>
                               
                               
                            </td>
                        </tr>
                        
                    </table>
                    <br><br>
                    <input type="submit" value="일정 등록" class="add-schedule">
                    <input type="reset" value="다시 입력" class="reset-schedule">
                </form>
                

            </div>
        </div>
    </div>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <ul>
                        <li><a href="#">사이트 도움말</a></li>
                        <li><a href="#">사이트 이용약관</a></li>
                        <li><a href="#">사이트 운영원칙</a></li>
                        <li><a href="#"><strong>개인정보취급방침</strong></a></li>
                        <li><a href="#">책임의 한계와 법적고지</a></li>
                        <li><a href="#">게시중단요청서비스</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <address>
                        Copyright &copy;
                        <a href="#"><strong>lifestock</strong></a>
                        All Rights Reserved.
                    </address>
                </div>
            </div>
        </div>
    </footer>
 
    
    <script th:inline="javascript">
    
    let vaccine_info;
	let infection_info;

	const vaccine = {};
	const infection = {};
	
	if([[${vaccine}]] !== null){
		vaccine_info = JSON.parse([[${vaccine}]])
		
		vaccine_info.forEach(e => {
		
		console.log(typeof e.infected_dt);
        let numDate = e.vaccine_dt.toString();
        vaccine[numDate] !== null ? vaccine[numDate]++ : vaccine[numDate] = 1;
        vaccine[numDate].push(`${e.vaccine_name}`)

    })
		
	}else if([[${infection}]] !== null){
		infection_info = JSON.parse([[${infection}]])
		
		infection_info.forEach(e => {
		console.log(typeof e.infected_dt);
        let numDate = e.infected_dt.toString();
        infection[numDate] !== null ? infection[numDate]++ : infection[numDate] = 1;
        infection[numDate].push(`${e.disease_name}`)

    })
		
	}
	
	
	class Schedule {

	    constructor(name, description, date, time){
	        this.name = name;
	        this.description = description;
	        this.date = date;
	        this.time = time;
	    }
	    getFormattedDateTime() {
	        return `${this.date} ${this.time}`;
	    }
	}

	const ls = localStorage;

	// Calendar main
	const Calendar = {

	    init(){
	        const today = new Date();

	        ScheduleManager.loadSchedule();
	        Calendar.showDates(today.getFullYear(), today.getMonth() + 1);
	    
	        Calendar.year = today.getFullYear();
	        Calendar.month = today.getMonth() + 1;

	  
	    },


	    evtHandle(){
	        document.querySelectorAll(".date")
	            .forEach(elem => {
	                elem.onclick = function(){
	                    document.querySelector(".modal.schedule")
	                        .classList.add("show");


	                    const day = Calendar.day = this.innerText;
	                    const $mTitle = document.querySelector(".modal.schedule .modal-title");  
	                    $mTitle.innerHTML = `${Calendar.year}년 ${Calendar.month}월  ${day}일  일정`;
	                    var dateinput= `${Calendar.year}-${Calendar.month}-${day}`;
	                    $('input[name=infected_dt]').attr('value',dateinput);

	                    Calendar.refreshScheduleList();
	                }   
	            });

	    },

	    refreshScheduleList(){
	        const $mScheduleList = document.querySelector(".modal.schedule.schedule-list");
	        const schedules = ScheduleManager.Schedules
	           .filter(v => v.date == `${Calendar.year}-${Calendar.month}-${Calendar.day}`);

	        if (schedules.length)
	           $mScheduleList.innerHTML = schedules.map(sc => `
	               <div class="schedule flex aic jcsb">
	                   <h3>${sc.title}</h3>
	                   <button onclick="ScheduleManager.remove('${sc.id}')">x</button>
	                   
	               </div>
	           `).join("\n\n");


	    }, 

	    showDates(y, m){
	        const before = document.querySelectorAll(".date");
	        before.forEach(v => v.remove());

	        for (
	            let i = -Calendar.getFirstDay(y, m) + 1;
	            i <= Calendar.getLastdate(y, m);
	            i++
	        ){
	            const hasSchedule = ScheduleManager.Schedules.some((schedule) => {
	                const [scheduleYear, scheduleMonth, scheduleDay] = schedule.date.split('-');
	                return scheduleYear === y.toString() && scheduleMonth === m.toString() && scheduleDay === i.toString();
	            });

	            const hiddenDateClass = i < 1 ? 'hidden-date' : '';
	            const hasScheduleClass = hasSchedule ? 'has-schedule' : '';

	            Calendar.$calendar.innerHTML += `
	                <div class="date ${hiddenDateClass} ${hasScheduleClass}">
	                    <p>${i}</p>
	                `;
	            let str = i.toString();
	            let cntV;
	            let cntI;

	            if(vaccine[str] !== null){
	                // cntV = vaccine[str][0];
					cntV = vaccine[str];
	                
	                for(let i = 0; i < cntV; i++)
	                    Calendar.$calendar.innerHTML +=`
	                        <div style="width:10px; height:10px;  border-radius:50%; background-color:red; margin:3px;" ></div>
	                        `;
	            }
	            
	            if(infection[str] !== null){
	                // cntI = infection[str][0];
	                cntI = infection[str];

	                for(let i = 0; i < cntI; i++)
	                    Calendar.$calendar.innerHTML +=`
	                        <div style="width:10px; height:10px;  border-radius:50%; background-color:blue;  margin:3px;"></div>
	                        `;
	            }
	            Calendar.$calendar.innerHTML +=`
	                </div>
	                `;
	        }        
	        Calendar.evtHandle();

	    },

	    getFirstDay(y, m){
	        const date = new Date(`${y}-${m}-01` );
	        return date.getDay();
	    },
	    getLastdate(y, m) {
	        const date = new Date(y, m, 0);
	        return date.getDate();

	    },

	    addMonth(m) {
	        const date = new Date(
	            Calendar.year, Calendar.month + m - 1, 1
	        );
	        Calendar.year = date.getFullYear();
	        Calendar.month = date.getMonth() + 1;

	        Calendar.showDates(Calendar.year, Calendar.month);
	        Calendar.$date.innerHTML = `${Calendar.year}.${Calendar.month}.`

	    }

	};

	const ScheduleManager = {

	    Schedules: [],

	    loadSchedule(){
	        if (!ls['schedules']) return;

	        ScheduleManager.Schedules =
	            JSON.parse(ls['schedules']);
	    },

	    saveSchedule(){
	        ls['schedules'] =
	            JSON.stringify(ScheduleManager.Schedules);
	    },

	    addSchedule(name, description, date, time){
	        const schedule = new Schedule(name, description, date, time);
	        this.Schedules.push(schedule);
	        this.saveSchedule();
	        Calendar.refreshScheduleList();
	    },

	    remove(id){
	        const index = ScheduleManager.Schedules
	        .findIndex(v => v.id == id);

	        ScheduleManager.Schedules
	            .splice(index, 1);

	        this.saveSchedule();
	        Calendar.refreshScheduleList();

	    }
	}



	function categoryChange(e) {
		var good_a = ["바이러스 입자 불활화 백신(조류)", "혈청형 O형과 A형 혼합백신(소)", "돼지파보백신", "돼지위축성비염백신", "돼지대장균백신혼합백신"];
		var good_b = ["구제역", "조류인플루엔자", "아프리카 돼지열병"];
		
		var target = document.getElementById("livestock-select");

		if(e.value == "vaccine") var d = good_a;
		else if(e.value == "infection") var d = good_b;

		target.options.length = 0;

		for (x in d) {
			var opt = document.createElement("option");
			opt.value = d[x];
			opt.innerHTML = d[x];
			target.appendChild(opt);
		}	
	}


    $(document).ready(function() {
        $('#select').change(function() {
            var result = $('#select option:selected').val();
            if (result == 'infection') {
                $('.infectionselect').show();
                $('.vaccineselect').hide();
            } else {
                $('.infectionselect').hide();
                $('.vaccineselect').show();
            }
        }); 
    }); 
    
    Calendar.$calendar = document.querySelector(".calendar");
	Calendar.$date = document.querySelector(".cur-date");
	Calendar.init();        
       
    </script>
        
</body>
</html>

