<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b32c894376.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/livestock/resources/CSS/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">


    <title>farming</title>
    <link rel="stylesheet" href="/livestock/resources/CSS/farming.css">
    
    <base href="/" />
    

    <title>Page</title>
</head>
<body>
    <header id="header">
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fa-solid fa-guarani-sign"></i>
                <a href="/HTML/index.html">FRAM GUARD</a>
            </div>

            <ul class="navbar_menu">
                <li><a th:href="@{/}">HOME</a></li>
                <li><a th:href="@{/calander}">캘린더</a></li>
                <li><a class="underline" th:href="@{/farming}">차량 출입 관리</a></li>
                <li><a th:href="@{/board}">커뮤니티</a></li>
                <button class = "binLogin-popup" sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></button>
            </ul>
            
            <a href="#" class="navbar_toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
    </header>
    <div class="box"></div>

    <div class="box2">


        <div class="sidebar">
    
            <button class="reload" onClick="window.location.reload()">새로고침</button>
        
            <table id = "entrance">
                <caption>차량 출입 관리</caption>
                <thead>
                <tr>
                    <th width="150px">일자</th>
                    <th width="150px">차량번호</th>
                    <th width="150px">입문 시간</th>
                    <th width="150px">출문 시간</th>
                    <th>번호판 사진</th>
                    <th width="130px">비고</th>
            
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2023.06.13</td>
                    <td>167어 8085</td>
                    <td>11:03</td>
                    <td>18:09</td>
                    <td>            
                        <div class="container">
                            <div class="image-upload" id="image-upload">
                    
                                <form method="post" enctype="multipart/form-data">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
                                    <br>
                                    <p></p>
                                </form>
                    
                                <div class="fileContainer">
                                    <div class="fileInput">
                                        <p>FILE NAME: </p>
                                        <p id="fileName"></p>
                                    </div>
                                    <div class="buttonContainer">
                                        <div class="submitButton" id="submitButton">SUBMIT</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="image-show" id="image-show"></div>
                        </div>
                    <td></td>
                </tr>
         
                </tbody>
            </table>
            
            
            
        </div>
    </div>


    

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <ul>
                        <li><a href="#">사이트 도움말</a></li>
                        <li><a href="#">사이트 이용약관</a></li>
                        <li><a href="#">사이트 운영원칙</a></li>
                        <li><a href="#"><strong>개인정보취급방침</strong></a></li>
                        <li><a href="#">책임의 한계와 법적고지</a></li>
                        <li><a href="#">게시중단요청서비스</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <address>
                        Copyright &copy;
                        <a href="#"><strong>lifestock</strong></a>
                        All Rights Reserved.
                    </address>
                </div>
            </div>
        </div>
    </footer>

    <script src="/livestock/resources/JS/farming.js">
        <a onClick="window.location.reload()" style="cursor: pointer;">[새로고침]</a>
    </script>
    
</body>
</html>

